.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

  .left {
    // border: 1px solid black;
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .balance {
      font-size: 2rem;
    }
  }

  .pie-chart {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
